.modal {
    display: none;
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;

    background-color: var(--grey-7);
}

.modal__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 428px;
    box-sizing: border-box;

    background-color: var(--white);
    border-radius: 8px;
    padding: 30px 40px 33px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal__close {
    position: absolute;
    top: 12px;
    right: 12px;

    width: 16px;
    height: 16px;

    padding: 0;

    border: none;
    background-color: transparent;
    background-image: url(../../assets/images/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.modal__title {
    margin: 0;
    margin-bottom: 14px;

    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: var(--gray-8);
}

.modal__text {
    margin: 0;

    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey-4);
}